@charset "utf-8";

:root {
	font-size: 3.5mm;
	line-height: 1.5;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
}

/* ゆったりとリンクへ移動する */

a {
	display: block;
	width: 100px;
	margin: 20px auto 0;
	padding: 0.5rem 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: chocolate;
	text-decoration: none;
}


/* アニメーションの3形態 */

div.area {
	position: relative;
	width: 150px;
	height: 150px;
	background: #ad4444;
	text-align: center;
	margin: 2rem 2rem 4rem;
	padding: 1rem;
}

p.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	color:#fff;
}

#width {
	transition: width 0.5s ease-in-out 0s;
}
#width:hover {
	width: 1000px;
}

#circle {
	transition: border-radius 0.5s;
}
#circle:hover {
	border-radius: 50%;
}

#scale {
	transition: transform 2s ease-in-out 0.25s;
}
#scale:hover {
	transform: scale(5);
}

#sample1 {
	animation: zigzag 2s ease 0s 3 normal;
}
@keyframes zigzag {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(50px, 50px);
	}
	100% {
		transform: translate(100px, 0px);
	}
}

#sample2 {
	animation: scale-and-color 4s linear 0s infinite alternate;
}
@keyframes scale-and-color {
	0% {
		background: #ad4444;
		transform: scale(1);
	}
	50% {
		background: #3946ad;
		transform: scale(1.5);
	}
	100% {
		background: #4dad48;
		transform: scale(1);
	}
}

img {
	width: 100px;
	margin-right: 2rem;
}

#sample3 {
	animation: loading 1s linear 0s infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#sample4 {
	animation: heart 0.8s ease 0s infinite normal;
}

@keyframes heart {
	0% {
		transform: scale(1);
	}
	8% {
		transform: scale(1);
	}
	15% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* ***** postionとtransformを使う。***** */
/* 領域の指定した座標軸を親要素の中央に配置する。 */
/* 
div {
	position: relative;
	height: 300px;
}

p {
	position: absolute;
	top: 50%;
	left: 50%;
}
 */
/* 親要素に対してセンターセンターを実行する。 */
/* 
p {
	transform: translate(-50%, -50%);
}
 */
/* 中身もセンターセンターを実行する。 */
/* 
p {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 0.5rem;
}
 */
