@charset "utf-8";

:root {
  font-size: 3.5mm;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/************* part2 *************/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

ul {
	text-align: center;
	background: yellowgreen;
}

ul li {
	display: inline-block;
	position: relative;
}

ul li a {
	display: block;
	padding: 1rem;
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
	text-decoration: none;
}

ul li a::after {
	content: url(../img/arrow.png);
	margin-left: 10px;
	vertical-align: middle;
}

ul li a:hover {
	background: #2c9869;
}

ul.sub-list {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

ul.sub-list li {
	width: 100%;
}

ul.gnav-list li:hover>ul.sub-list {
	display: block;
}

main {
	margin-top: 60px;
}
main div {
	background: #eee;
	width: 90%;
	height: 80vh;
	margin: 0 auto 40px;
}


/************* part1 *************/

/* list1 */
/* 
ul.gnav-list1 {
	background: #1b9aaa;
	padding: 0;
	text-align: center;
}

ul.gnav-list1 li {
	display: inline-block;
}

ul.gnav-list1 li a {
	display: block;
	padding: 1em;
	font-size: 1rem;
	color: white;
	text-decoration: none;
}

ul.gnav-list1 li a::first-line {
	font-size: 1.5rem;
	font-weight: bold;
}

ul.gnav-list1 li a:hover {
	background: #14727e;
}
*/

/* list2 */
/* 
ul.gnav-list2 {
	background: #f0dcd4;
	padding: 0;
	text-align: center;
}

ul.gnav-list2 li {
	display: inline-block;
}

ul.gnav-list2 li a {
	display: block;
	padding: 20px 20px 10px;
	font-size: 1rem;
	color: #7b645d;
	text-decoration: none;
}

ul.gnav-list2 li a:hover {
	padding-bottom: 4px;
	border-bottom: 6px solid #7b645d;
}

ul.gnav-list2 li a img {
	display: block;
	margin: 0 auto 1rem;
	height: 30px;
}
*/
