html {
    font-size: 17px;
    line-height: 30px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

p {
    margin: 0rem;
    line-height: 1.7;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
    color: black;
    text-align: justify;
    text-indent: 1rem;
}

/* ========== インデント ========== */
/* 行頭一文字落とし */
.indentation {
    padding-left: 1rem;
    text-indent: -1rem;
}
/* 行頭一文字落としの後続段落　または　一文字分段落字下げ */
.indentation-following {
    padding-left: 1rem;
    text-indent: 1rem;
}

/* ========== 文字ツメ ========== */
.tume {
    font-feature-settings: "palt";
}

/* ========== Letter Space ========== */
.letter-spce-2percent {
    letter-spacing: -0.02rem;
}
.letter-spce-5percent {
    letter-spacing: -0.05rem;
}
.letter-spce-7percent {
    letter-spacing: -0.07rem;
}
.letter-spce-2bu {
    letter-spacing: 0.5rem;
}

/* ========== ページの先頭へ ========== */
.back-to-top {
    text-align: right;
    font-family: YakuCaltGothic, YuGothic, Yu Gothic, sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
}
.back-to-top a {
    text-decoration: none;
    color: cornflowerblue;
}

/* ========== 見出し ========== */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: YuMincho Demibold, Yu Mincho Demibold, serif;
    font-feature-settings: "palt";
}

h3 {
    margin: 20px 0 20px 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-indent: -1rem;
}

h4 {
    margin: 10px 0 10px 1rem;
    font-size: 1.2rem;
    line-height: 23px;
    padding-left: 1rem;
    text-indent: -1rem;
}

/* ========== flex container start ========== */
.col-span {
    margin-top: 80px;
    /* 1段落にする */
    float-reference: column;
    float: top;
    column-span: all;
    page-break-before: always;
    /* 親要素に指定 */
    height: 155px;
    
    display: flex;
    flex-direction: column;
}
.FA1-title {
    position: relative;
    height: 100px;
    margin: 0 9rem 0 1rem ;
}
.FA1-title h2 {
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translate(0%, -50%);      
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    font-feature-settings: "palt";
}
.author {
    height: 40px;
    position: relative;
    font-feature-settings: "palt";
}
.author .spec {
    position: absolute;
    margin: 0 9rem;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);    
    text-align: right;
    font-size: 0.8rem;
    line-height: 1.3;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
}
.author .name {
    font-size: 1.1rem;
    font-family: YakuCaltGothic, YuGothic, Yu Gothic, sans-serif;
    font-weight: bold;
}
.author img {
    position: absolute;
    width: 8rem;
    margin: 0;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);
}
hr.clearfix {
    clear: both;
    border: none;
    padding: 1px;
    margin: -1px;
    overflow: auto;
}
/* ========== flex container end ========== */

/* ========== 目　次 ========== */
nav {
    /* 1段落にする */
    /* float-reference: column;
    float: top;
    column-span: all;
    page-break-before: always; */
}
.cntents-container {
    display: flex;
    flex-direction: column;
}
nav h2 {
    margin: 4rem 0 3rem;
    font-size: 2.5rem;
    text-align: center;
}
.contents-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 10px;
    padding: 20px 40px;
    font-family: YakuCaltGothic, YuGothic, Yu Gothic, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
    font-feature-settings: "palt";
    color: #3F4E5F;
    border: 1px solid #0F7FF9;
}
.contents-item a {
    text-decoration: none;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3F4E5F;
}
.contents-item img {
    display: none;
}

/* 記号: ⓪①②③④⑤⑥⑦⑧⑨⑩⑪⑫⑬⑭⑮⑯⑰⑱⑲⑳㉑㉒㉓㉔㉕㉖㉗㉘㉙㉚㉛㉜㉝㉞㉟㊱㊲㊳㊴㊵㊶㊷㊸㊹㊺㊻㊼㊽㊾㊿ */
@counter-style my-circled-decimal {
    system: fixed;
    symbols: '\24ea' '\2460' '\2461' '\2462' '\2463' '\2464' '\2465' '\2466' '\2467' '\2468' '\2469' '\246a' '\246b' '\246c' '\246d' '\246e' '\246f' '\2470' '\2471' '\2472' '\2473' '\3251' '\3252' '\3253' '\3254' '\3255' '\3256' '\3257' '\3258' '\3259' '\325a' '\325b' '\325c' '\325d' '\325e' '\325f' '\32b1' '\32b2' '\32b3' '\32b4' '\32b5' '\32b6' '\32b7' '\32b8' '\32b9' '\32ba' '\32bb' '\32bc' '\32bd' '\32be' '\32bf';
    suffix: '　';
}
ol.my-circled-decimal li {
    list-style-type: my-circled-decimal;
    line-height: 1.5;
}

/* 記号: ⓿❶❷❸❹❺❻❼❽❾❿⓫⓬⓭⓮⓯⓰⓱⓲⓳⓴ */
@counter-style my-filled-circled-decimal {
    system: fixed;
    symbols: '\24ff' '\2776' '\2777' '\2778' '\2779' '\277a' '\277b' '\277c' '\277d' '\277e' '\277f' '\24eb' '\24ec' '\24ed' '\24ee' '\24ef' '\24f0' '\24f1' '\24f2' '\24f3' '\24f4';
    suffix: '　';
}
ol.my-filled-circled-decimal li {
    list-style-type: my-filled-circled-decimal;
    line-height: 1.5;
}

/* 記号: ⒈⒉⒊⒋⒌⒍⒎⒏⒐⒑⒒⒓⒔⒕⒖⒗⒘⒙⒚⒛ */
@counter-style my-dotted-decimal {
    system: fixed;
    symbols: '\2488' '\2489' '\248a' '\248b' '\248c' '\248d' '\248e' '\248f' '\2490' '\2491' '\2492' '\2493' '\2494' '\2495' '\2496' '\2497' '\2498' '\2499' '\249a' '\249b';
    suffix: '　';
}
ol.my-dotted-decimal li {
    list-style-type: my-dotted-decimal;
    line-height: 1.5;
}

/* 記号: ⑴⑵⑶⑷⑸⑹⑺⑻⑼⑽⑾⑿⒀⒁⒂⒃⒄⒅⒆⒇ */
@counter-style my-kakko-decimal {
    system: fixed;
    symbols: '\2474' '\2475' '\2476' '\2477' '\2478' '\2479' '\247a' '\247b' '\247c' '\247d' '\247e' '\247f' '\2480' '\2481' '\2482' '\2483' '\2484' '\2485' '\2486' '\2487';
    suffix: '　';
}
ol.my-kakko-decimal li {
    list-style-type: my-kakko-decimal;
    line-height: 1.5;
}

/* 記号: 🄐🄑🄒🄓🄔🄕🄖🄗🄘🄙🄚🄛🄜🄝🄞🄟🄠🄡🄢🄣🄤🄥🄦🄧🄨🄩 */
@counter-style my-kakko-alpha-lg {
    system: fixed;
    symbols: '\1f110' '\1f111' '\1f112' '\1f113' '\1f114' '\1f115' '\1f116' '\1f117' '\1f118' '\1f119' '\1f11a' '\1f11b' '\1f11c' '\1f11d' '\1f11e' '\1f11f' '\1f120' '\1f121' '\1f122' '\1f123' '\1f124' '\1f125' '\1f126' '\1f127' '\1f128' '\1f129';
    suffix: '　';
}
ol.my-kakko-alpha-lg li {
    list-style-type: my-kakko-alpha-lg;
    line-height: 1.5;
}

/* 記号: ⒜⒝⒞⒟⒠⒡⒢⒣⒤⒥⒦⒧⒨⒩⒪⒫⒬⒭⒮⒯⒰⒱⒲⒳⒴⒵ */
@counter-style my-kakko-alpha-sm {
    system: fixed;
    symbols: '\249c' '\249d' '\249e' '\249f' '\24a0' '\24a1' '\24a2' '\24a3' '\24a4' '\24a5' '\24a6' '\24a7' '\24a8' '\24a9' '\24aa' '\24ab' '\24ac' '\24ad' '\24ae' '\24af' '\24b0' '\24b1' '\24b2' '\24b3' '\24b4' '\24b5';
    suffix: '　';
}
ol.my-kakko-alpha-sm li {
    list-style-type: my-kakko-alpha-sm;
    line-height: 1.5;
}

/* 記号: ㋐㋑㋒㋓㋔㋕㋖㋗㋘㋙㋚㋛㋜㋝㋞㋟㋠㋡㋢㋣㋤㋥㋦㋧㋨㋩㋪㋫㋬㋭㋮㋯㋰㋱㋲㋳㋴㋵㋶㋷㋸㋹㋺㋻㋼㋽㋾ */
@counter-style my-circled-kana {
    system: fixed;
    symbols: '\32d0' '\32d1' '\32d2' '\32d3' '\32d4' '\32d5' '\32d6' '\32d7' '\32d8' '\32d9' '\32da' '\32db' '\32dc' '\32dd' '\32de' '\32df' '\32e0' '\32e1' '\32e2' '\32e3' '\32e4' '\32e5' '\32e6' '\32e7' '\32e8' '\32e9' '\32ea' '\32eb' '\32ec' '\32ed' '\32ee' '\32ef' '\32f0' '\32f1' '\32f2' '\32f3' '\32f4' '\32f5' '\32f6' '\32f7' '\32f8' '\32f9' '\32fa' '\32fb' '\32fc' '\32fd' '\32fe';
    suffix: '　';
}
ol.my-circled-kana li {
    list-style-type: my-circled-kana;
    line-height: 1.5;
}

/* 記号: 🅐🅑🅒🅓🅔🅕🅖🅗🅘🅙🅚🅛🅜🅝🅞🅟🅠🅡🅢🅣🅤🅥🅦🅧🅨🅩 */
@counter-style my-filled-circled-alpha-lg {
    system: fixed;
    symbols: '\1f150' '\1f151' '\1f152' '\1f153' '\1f154' '\1f155' '\1f156' '\1f157' '\1f158' '\1f159' '\1f15a' '\1f15b' '\1f15c' '\1f15d' '\1f15e' '\1f15f' '\1f160' '\1f161' '\1f162' '\1f163' '\1f164' '\1f165' '\1f166' '\1f167' '\1f168' '\1f169';
    suffix: '　';
}
ol.my-filled-circled-alpha-lg li {
    list-style-type: my-filled-circled-alpha-lg;
    line-height: 1.5;
}

/* 記号: ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ */
@counter-style my-circled-alpha-sm {
    system: fixed;
    symbols: '\24d0' '\24d1' '\24d2' '\24d3' '\24d4' '\24d5' '\24d6' '\24d7' '\24d8' '\24d9' '\24da' '\24db' '\24dc' '\24dd' '\24de' '\24df' '\24e0' '\24e1' '\24e2' '\24e3' '\24e4' '\24e5' '\24e6' '\24e7' '\24e8' '\24e9';
    suffix: '　';
}
ol.my-circled-alpha-sm li {
    list-style-type: my-circled-alpha-sm;
    line-height: 1.5;
}

/* 記号: 🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉 */
@counter-style my-square-alpha-lg {
    system: fixed;
    symbols: '\1f130' '\1f131' '\1f132' '\1f133' '\1f134' '\1f135' '\1f136' '\1f137' '\1f138' '\1f139' '\1f13a' '\1f13b' '\1f13c' '\1f13d' '\1f13e' '\1f13f' '\1f140' '\1f141' '\1f142' '\1f143' '\1f144' '\1f145' '\1f146' '\1f147' '\1f148' '\1f149';
    suffix: '　';
}
ol.my-square-alpha-lg li {
    list-style-type: my-square-alpha-lg;
    line-height: 1.5;
}

/* 記号: 🅰🅱🅲🅳🅴🅵🅶🅷🅸🅹🅺🅻🅼🅽🅾🅿︎🆀🆁🆂🆃🆄🆅🆆🆇🆈🆉 */
@counter-style my-filled-square-alpha-lg {
    system: fixed;
    symbols: '\1f170' '\1f171' '\1f172' '\1f173' '\1f174' '\1f175' '\1f176' '\1f177' '\1f178' '\1f179' '\1f17a' '\1f17b' '\1f17c' '\1f17d' '\1f17e' '\1f17f' '\1f180' '\1f181' '\1f182' '\1f183' '\1f184' '\1f185' '\1f186' '\1f187' '\1f188' '\1f189';
    suffix: '　';
}
ol.my-filled-square-alpha-lg li {
    list-style-type: my-filled-square-alpha-lg;
    line-height: 1.5;
}

/* ========== スマートフォンの表示 ========== */
@media (max-width: 600px) {
    body {
        width: 95%;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.6;
    }
    
    .col-span {
        margin-top: 40px;
        padding-top: 30px;
        height: 100px;
        border-top: 1px dotted black; 
    }
    .FA1-title {
        /* height: 100px; */
        margin: 0 0 0 1rem ;
    }
    .FA1-title h2 {
        font-size: 1.5rem;
    }
    .author .spec {
        margin: 0;
        text-align: right;
        font-size: 0.8rem;
        line-height: 1.3;
    }
    .author img {
        display: none;
    }
    h3 {
        margin: 10px 0 10px 1rem;
        font-size: 1.1rem;
    }

    /* 目次 */
    nav h2 {
        margin: 2rem 0 1rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .contents-item {
        flex-direction: column;
        justify-content: center;

        position: relative;

        margin: 0.5rem 0;
        padding: 0.5rem 0.5rem 0.5rem 5rem ;
        height: 90px;
        font-size: 1rem;
    }
    .contents-item .contents-author {
        margin-top: 0.5rem;
    }
    .contents-item a {
        font-size: 1.2rem;
    }
    .contents-item img {
        display: block;
        width: 4rem;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
    }
}

/* @media (max-width: 600px) {
    body {
        width: 90%;
    }
    p {
        font-size: 0.85rem;
        line-height: 1.6;
    }
    .contents-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 20px 10px;
        padding: 10px 40px;
        font-size: 1.2rem;
    }
} */
/* @media (max-width: 960px) {
    body {
        width: 60%;
    }
    p {
        font-size: 0.9rem;
    }

} */
@media (min-width: 1280px) {
    body {
        width: 50%;
    }
    p {
        font-size: 1rem;
    }
}